@import url("https://fonts.googleapis.com/css?family=Lato|Press+Start+2P");

@font-face {
  font-family: "Pretendo";
  src: 
    url("./public/fonts/pretendo.woff2") format("woff2"),
    url("./public/fonts/pretendo.woff") format("woff"),
    url("./public/fonts/pretendo.ttf") format("truetype");
}

 
:root {
}

body{
    margin:0;
    background-color: rgb(4, 142, 80);
}
.container {
    display:flex;
    justify-content:center;
    margin-top: 4em;
}